---
layout: layouts/base.liquid
---

<ul>
  {% for transmission in transmissions %}
    <li>
      <a class="block text-xl" href="/{{transmission.id | slug}}/">
        - <span class="underline">{{ transmission.title }}</span> - <span class="text-lg">{{ transmission.date | formatDate }}</span>
      </a>
    </li>
  {% endfor %}
</ul>
