---
layout: layouts/base.liquid
---
<h1 class="relative mb-4 text-lg z-20">Now streaming:</h1>

<div class="relative flex justify-start items-center sm:flex-col sm:items-start sm:justify-center z-20">
  <button id="pause" class="w-0">
    <img width="35px" height="35px" src="/images/pause.svg"></img>
  </button>
  <button id="play" class="w-0">
    <img width="35px" height="35px" src="/images/play.svg"></img>
  </button>
  <button id="loading">
    <img width="35px" height="35px" class="animate-spin duration-1400" src="/images/loading.svg"></img>
  </button>
  <h2 class="ml-8 mb-1 sm:ml-0 sm:mt-8" id="currentSong">&nbsp;</h2>
  <span class="sm:invisible">&nbsp; - &nbsp;</span>
  <p id="currentArtist">&nbsp;</p>
</div>
<div class="absolute top-0 left-0 w-screen min-h-screen flex justify-center items-center pointer-events-none p-6 pt-32 z-10 opacity-50">
  <img id="album" class="shadow-2xl max-h-96"></img>
</div>

<audio
  id="audio"
  class="hidden"
  xmlns="http://www.w3.org/1999/xhtml"
  controls="controls"
  preload="none"
  autoplay="true"
>
  <source
    src="https://stream.radiouniverso.live"
    type="audio/webm"
  />
</audio>

<canvas id="canvas" class="fixed bottom-0 left-0 z-0"></canvas>

<script src="/assets/scripts/icecast.js"></script>
<script src="/assets/scripts/mopidy.js"></script>
<script type="module" src="/assets/scripts/index.js"></script>
