---
layout: layouts/base.liquid
---

<section class="relative z-20">
  <div class="flex justify-between items-center mb-8">
    <h1 class="text-lg">Now streaming:</h1>
  </div>

  <div class="flex justify-start items-center sm:flex-col sm:items-start sm:justify-center">
    <button id="pause" class="w-16 h-16 hidden">
      <img src="/images/pause.svg"></img>
    </button>
    <button id="play" class="w-16 h-16 hidden">
      <img src="/images/play.svg"></img>
    </button>
    <button id="loading" class="w-16 h-16">
      <img class="animate-spin duration-1400" src="/images/loading.svg"></img>
    </button>
    <div class="flex flex-col justify-start items-start">
      <h2 class="ml-8 mb-1 sm:ml-0 sm:mt-8" id="currentSong">&nbsp;</h2>
      <p class="ml-8 mb-1 sm:ml-0 sm:mt-8" id="currentArtist">&nbsp;</p>
    </div>
  </div>
  <div class="flex items-center mt-8">
    <label for="volume">Volume: </label>
    <input class="opacity-1 ml-4 ring-1 ring-white cursor-pointer" type="range" name="volume" id="volume" min="0" max="1" step="0.01" value="1"/>
  </div>

  <div class="w-full min-h-full flex justify-center items-center p-6 pt-16">
    <img id="album" class="shadow-2xl max-h-96"></img>
  </div>
</section>

<audio
  id="audio"
  class="hidden"
  xmlns="http://www.w3.org/1999/xhtml"
  controls="controls"
  preload="none"
  autoplay="true"
>
  <source
    src="https://stream.radiouniverso.live"
    type="audio/webm"
  />
</audio>

<canvas id="canvas" class="fixed bottom-0 left-0 pointer-events-none z-0"></canvas>

<script src="/assets/scripts/icecast.js"></script>
<script src="/assets/scripts/mopidy.js"></script>
<script type="module" src="/assets/scripts/index.js"></script>
