---
layout: layouts/base.liquid
---
<h1 class="mb-4 text-lg">Now streaming:</h1>

<div class="flex justify-start items-center sm:flex-col sm:items-start sm:justify-center">
  <button id="pause" class="w-0">
    <img width="35px" height="35px" src="/images/pause.svg"></img>
  </button>
  <button id="play" class="w-0">
    <img width="35px" height="35px" src="/images/play.svg"></img>
  </button>
  <button id="loading">
    <img width="35px" height="35px" class="animate-spin duration-1400" src="/images/loading.svg"></img>
  </button>
  <h2 class="ml-8 mb-1 sm:ml-0 sm:mt-8" id="currentSong">&nbsp;</h2>
  <span class="sm:invisible">&nbsp; - &nbsp;</span>
  <p id="currentArtist">&nbsp;</p>
</div>
<div class="mt-8 flex justify-center items-center opacity-60 shadow-2xl">
  <img class="album max-h-80" id="album"></img>
</div>

<audio
  xmlns="http://www.w3.org/1999/xhtml"
  controls="controls"
  preload="none"
  autoplay="true"
>
  <source
    src="https://stream.radiouniverso.live"
    type="audio/webm"
  />
</audio>

<script type="module" src="/assets/scripts/index.js"></script>
